# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.npm-cache
dist
dist-ssr
*.local
main/.desktop-renderer
windows-app/.app-build
mac-app/.app-build
mac-app/release
windows-app/release
.claude/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
